.future-time {
    background-color: rgb(170, 224, 139);
}

.past-time {
    background-color: rgb(233,236,239);
}

.current-time {
    background-color: rgb(238,200,105);
}

.btn {
    background-color: rgb(233,236,239);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.form-control {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
}

.input-group-text {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
}

.input-group-lg {
    margin-bottom: 15px;
}

hr {
    border-width: 5px;
    border-color: rgb(229,170,23);
}

.page-footer {
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
}